<a href="https://colab.research.google.com/github/DiegoMacielDM/MachineLearning/blob/main/ArvoreDecisao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import as bibliotecas do python
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Configurando o notebook
sns.set_style()

In [3]:
#importando o dados
df = pd.read_csv("https://raw.githubusercontent.com/carlosfab/curso_data_science_na_pratica/master/modulo_03/heart-disease-uci.csv")

In [5]:
#mostrando od dados
df.head(10)

    age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal  num
0  63.0  1.0  1.0     145.0  233.0  1.0  ...    0.0      2.3    3.0  0.0   6.0    0
1  67.0  1.0  4.0     160.0  286.0  0.0  ...    1.0      1.5    2.0  3.0   3.0    2
2  67.0  1.0  4.0     120.0  229.0  0.0  ...    1.0      2.6    2.0  2.0   7.0    1
3  37.0  1.0  3.0     130.0  250.0  0.0  ...    0.0      3.5    3.0  0.0   3.0    0
4  41.0  0.0  2.0     130.0  204.0  0.0  ...    0.0      1.4    1.0  0.0   3.0    0
5  56.0  1.0  2.0     120.0  236.0  0.0  ...    0.0      0.8    1.0  0.0   3.0    0
6  62.0  0.0  4.0     140.0  268.0  0.0  ...    0.0      3.6    3.0  2.0   3.0    3
7  57.0  0.0  4.0     120.0  354.0  0.0  ...    1.0      0.6    1.0  0.0   3.0    0
8  63.0  1.0  4.0     130.0  254.0  0.0  ...    0.0      1.4    2.0  1.0   7.0    2
9  53.0  1.0  4.0     140.0  203.0  1.0  ...    1.0      3.1    3.0  0.0   7.0    1

[10 rows x 14 columns]

In [7]:
#importando o Sklearn
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

In [32]:
#Informando o X e o Y... Mas atenção com o I-feature  (reshape)
#X vai ser toda a base excluindo o coluna SalePrice
x = df.drop('num', axis=1)

#Y vai ser apenas a coluna SalePrice
y = df['num']

#iniciando os train
x_train, x_test, y_train, y_test = train_test_split(x, y)

#Criando e treinando oum modelo de regressão linear
dt_model = DecisionTreeClassifier(max_depth=4, criterion='entropy')
dt_model.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [33]:
#Previsões em cima do dataset de teste
y_pred = dt_model.predict(x_test)

print("\nAcurracy Score: ")
print(accuracy_score(y_test, y_pred))

Acurracy Score:
0.618421052631579

In [42]:
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

In [ ]:
#Criar um DOT
#dot = export_graphviz(dt_model, filled=True, rounded=True, feature_names=x.columns, class_names=['0','1'])

#plotar
#graph = pydotplus.graph_from_dot_data(dot)
#Image(graph.create_png())