<a href="https://colab.research.google.com/github/DiegoMacielDM/MachineLearning/blob/main/RegressaoLinearmultipla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import as bibliotecas do python
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Configurando o notebook
sns.set_style()

In [5]:
#importando o dados
df = pd.read_csv("http://dl.dropboxusercontent.com/s/gc1rm540g4i670n/precificacao_housing_plus.csv?dl=0")

In [12]:
#Excluindo o ID
df.drop('Id', axis=1, inplace=True)

In [13]:
#mostrando od dados
df.head()

   MSSubClass  LotArea  OverallQual  ...  MoSold  YrSold  SalePrice
0          60     8450            7  ...       2    2008     208500
1          20     9600            6  ...       5    2007     181500
2          60    11250            7  ...       9    2008     223500
3          70     9550            7  ...       2    2006     140000
4          60    14260            8  ...      12    2008     250000

[5 rows x 34 columns]

In [24]:
#importando o Sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

In [19]:
#Informando o X e o Y... Mas atenção com o I-feature  (reshape)
#X vai ser toda a base excluindo o coluna SalePrice
x = df.drop('SalePrice', axis=1)

#Y vai ser apenas a coluna SalePrice
y = df['SalePrice']

#iniciando os train
x_train, x_test, y_train, y_test = train_test_split(x, y)

#Criando e treinando oum modelo de regressão linear
rlm_model = LinearRegression()
rlm_model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [21]:
#Imprimindo os coeficientes
print("Coenficiente:\t", rlm_model.coef_)
print("Intercepto:\t", rlm_model.intercept_)

Coenficiente:	 [-1.22287678e+02  3.78200624e-01  1.63332201e+04  4.99815988e+03
  3.60085124e+02  1.40375642e+02  1.99712399e+01 -4.52906212e+00
  2.06639908e+00  1.75085769e+01  2.34451288e+01  2.51962430e+01
 -1.71514039e+01  3.14899679e+01  1.78297277e+03 -1.20034337e+03
  2.53617554e+02 -7.81146246e+02 -1.17460382e+04 -1.44341662e+04
  4.82856332e+03  4.41532009e+03  1.87878524e+03  3.16346617e+01
  2.05901149e+01  1.30753200e+00 -4.33818908e+00  6.07709169e+00
  3.62834453e+01  1.26506196e+00  4.46151469e-01 -5.95072346e+02
 -6.75002635e+02]
Intercepto:	 308180.33203899977

In [22]:
#Previsões em cima do dataset de teste
y_pred = rlm_model.predict(x_test)

In [25]:
#Avaliando o desempenho do modelo
print("R2 Score:\t", r2_score(y_test, y_pred))
print("MAE:\t\t", mean_squared_error(y_test, y_pred))
print("MSE:\t\t", mean_squared_error(y_test, y_pred))

R2 Score:	 0.6861451382161932
MAE:		 2134983380.1611106
MSE:		 2134983380.1611106